[Desktop Entry]
Encoding=UTF-8
Name=Link to Which API do I need?  |  Google Maps APIs  |  Google Developers
Type=Link
URL=https://developers.google.com/maps/documentation/maps/documentation/javascript/datalayer
Icon=text-html
Name[en_CA]=Data Layer
