[Desktop Entry]
Encoding=UTF-8
Name=Link to Drawing Layer (Library)  |  Google Maps JavaScript API  |  Google Developers
Type=Link
URL=https://developers.google.com/maps/documentation/javascript/drawinglayer
Icon=text-html
Name[en_CA]=Drawing Layer
