[Desktop Entry]
Encoding=UTF-8
Name=Link to Drawing on the Map  |  Google Maps JavaScript API  |  Google Developers
Type=Link
URL=https://developers.google.com/maps/documentation/javascript/overlays
Icon=text-html
Name[en_CA]=Drawing On the Map
